{% extends "attendance/base.html" %}

{% load static %}


{% block content %}
  </br>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button class="waves-effect waves-light btn" type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
  	<center>
    <img src="{% static 'media/2.jpg' %}" height="300px" width="300px">
    </center>
  {% endif %}

  {% if faces %}
  <h2>Presentees</h2>
    <ol>
    {% for face in faces %}
    <li>{{face}}</li>
    {% endfor %}
    </ol>
   {% endif %}


{% endblock %}