{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>
		HEX TEST
	</title>
	<link rel="stylesheet" href="{% static 'hex_buttons/assets/css/hexagons.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'hex_buttons/assets/css/font-awesome.min.css' %}">
	  <link rel="stylesheet" type="text/css" href="{% static 'login_template/css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'login_template/css/main.css' %}">
	<style type="text/css">

		
	</style>
</head>
<body>
<a href="#">
  <span class="hb hb-xs ">

    <i class="fa fa-facebook"></i>
    <!-- <h4>HI</h4> -->

  </span>
</a>
<a href="#"><span class="hb inv hb-lg hb-custom login100-form-btn"></span></a> 

</body>
</html>